.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: space-evenly;
    gap: 10px;
    /* max-height: 300px; */
    overflow-y: scroll;
}

/* hide scrollbar */
.wrapper::-webkit-scrollbar {
    display: none;
}